/*Theme colors*/
$lightBlue: #5AB9EA
$darkBlue: #5680e9
$tealBlue: #84ceeb
$lightPurple: #c1c8e4
$darkPurple: #8860d0
$almostBlack: #373737

/*about page*/

.icon-text
    background-color: $almostBlack
    padding: 25px
    border-radius: 50px
    font-size: 1.5rem
    position: absolute
    margin-top: -20px
    margin-left: -20px
    color: white
    font-family: 'Courgette', cursive
    font-weight: bold
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6)

.card   
    margin: 15px
    border-radius: 20px
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)

.card-content
    padding-top: 60px
    line-height: 1.6