Services:
  talk with client - in person or video call or messaging
  set up website or app - html, sass, angular, ionic, wix, wordpress, xcode, app store
  content creation - youtube, adobe illustraotr, icons
  databse - firebase
  hosting -
  maintenance
  domain
  creating app from scratch to app store
  creating website to hosting
  editting existing website
  self mainting websites
  database and hosting setup
  content creation
  <p><b>Location:</b></p>
  <p>Evansville, IN</p>
