/*Theme colors*/
$lightBlue: #5AB9EA
$darkBlue: #5680e9
$tealBlue: #84ceeb
$lightPurple: #c1c8e4
$darkPurple: #8860d0

/*home page*/
.card
    border-radius: 10px
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.5)
    
.developerTags
    background-color: $lightPurple

img
    border-radius: 10px 10px 10px 10px
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5)

.content
    color: black

.socialIcons
    padding-right: 20px
    color: gray

.profileImg
    border-radius: 50%
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 250px

.sectionTitle
    font-family: 'Courgette', cursive
    color: $darkBlue
    text-align: center

.skillText
    font-size: 1rem
    color: gray

.creationDescription
    color: gray
    font-size: .9rem

.card-footer-item
    font-size: 1rem

.btn
    font-family: 'Courgette', cursive
    font-weight: bold

.btn:active
    color: red
 
.sticky 
  position: sticky
  top: 0
  background-color: white
  z-index: 100

    