<section class="hero">
  <div class="hero-body" style="padding-bottom:30px">
    <div class="columns">
      <div class="column">
        <img src="assets/profilePic.jpeg" class="profileImg">
      </div>
    </div>
    <div class="columns">
      <div class="column" style="text-align: center">
        <p class="title is-3">
          Hi, I'm Dana Tang
        </p>
        <p class="subtitle" style="padding-top:20px; font-size: .8rem">
          Website & App Developer/Designer
        </p>
        <p class="subtitle">
          <a href="https://www.linkedin.com/in/danatang/" target="_blank">
            <span class="socialIcons"><i class="fab fa-linkedin"></i></span>
          </a>
          <a href="https://www.youtube.com/channel/UCUgRs6RRpPGgUBVQWEthJdA" target="_blank">
            <span class="socialIcons"><i class="fab fa-youtube"></i></span>
          </a>
          <a href="https://www.instagram.com/apps_for_figure_skaters/" target="_blank">
            <span class="socialIcons"><i class="fab fa-instagram"></i></span>
          </a>
          <a href="https://www.facebook.com/appsforfigureskaters" target="_blank">
            <span class="socialIcons"><i class="fab fa-facebook"></i></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <div class="sticky"> -->
<div class="tabs is-centered" style="margin-bottom: 0px">
  <ul class="list">
    <li class="btn" (click)="clickTab('skills')" id="skills" [ngStyle]="{'border-bottom': skillsOpen ? '#5680e9 solid 5px' : 'none'}">
      <a>
        <span [ngStyle]="{'color': skillsOpen ? '#5680e9' : 'black'}">Skills</span>
      </a>
    </li>
    <li class="btn" (click)="clickTab('portfolio')" id="portfolio" [ngStyle]="{'border-bottom': portfolioOpen ? '#5680e9 solid 5px' : 'none'}">
      <a>
        <span [ngStyle]="{'color': portfolioOpen ? '#5680e9' : 'black'}">Portfolio</span>
      </a>
    </li>
    <li class="btn" (click)="clickTab('about')" id="about" [ngStyle]="{'border-bottom': aboutOpen ? '#5680e9 solid 5px' : 'none'}">
      <a>
        <span [ngStyle]="{'color': aboutOpen ? '#5680e9' : 'black'}">About</span>
      </a>
    </li>
    <li class="btn" (click)="clickTab('contact')" id="contact" [ngStyle]="{'border-bottom': contactOpen ? '#5680e9 solid 5px' : 'none'}">
      <a>
        <span [ngStyle]="{'color': contactOpen ? '#5680e9' : 'black'}">Contact</span>
      </a>
    </li>
  </ul>
</div>
<!-- </div> -->

<section class="section" *ngIf="skillsOpen">
  <div class="columns" style="text-align: center">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p class="title is-4">
              Frontend
            </p>
            <p class="skillText">React, AngularJS, JavaScript</p>
            <p class="skillText">HTML, Bootstrap, Bulma</p>
            <p class="skillText">Ionic Framework</p>
            <p class="skillText">Sass, Css</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p class="title is-4">
              Backend
            </p>
            <p class="skillText">Firebase, AWS S3</p>
            <p class="skillText">Google and Apple APIs</p>
            <p class="skillText">Twilio Notifications</p>
            <p class="skillText">C#</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p class="title is-4">
              Design
            </p>
            <p class="skillText">Wix, Wordpress</p>
            <p class="skillText">SEO, Buffer, YouTube</p>
            <p class="skillText">Responsive design</p>
            <p class="skillText">Illustrator</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section" *ngIf="portfolioOpen">
  <div class="columns">

    <div class="column">
      <div class="card">
        <img src="assets/kimballhospitality.jpg">
        <div class="card-content">
          <div class="content">
            <p>Kimball:
              <span class="creationDescription"> 
                Collaborated with a graphic design intern, president, and
                upper management, to design and develope a new website for the company.
              </span>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://www.kimballhospitality.com" class="card-footer-item" target="_blank">View Website</a>
        </footer>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/coachdanatang.png">
        <div class="card-content">
          <div class="content">
            <p>coachdanatang.com:
              <span class="creationDescription">
                My figure skating students use this website to check available lesson times, invoices, and competition dates.
              </span>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://coachdanatang.com" class="card-footer-item" target="_blank">View Website</a>
        </footer>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/swonder.jpg">
        <div class="card-content">
          <div class="content">
            <p>Swonder Ice Arena:
              <span class="creationDescription">
                Designed and developed new website for Swonder Ice Arena. 
              </span>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://www.skateswonder.com" class="card-footer-item" target="_blank">View Website</a>
        </footer>
      </div>
    </div>
  </div>
</section>

<section class="section" *ngIf="portfolioOpen">
  <div class="columns">
    <div class="column">
      <div class="card">
        <img src="assets/mitf2.png">
        <div class="card-content">
          <div class="content">
            <p> 
              Moves in the Field App:
              <span class="creationDescription">
                Developed and designed an app and instructional content to help figure skaters learn how to pass figure skating tests.
              </span>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://apps.apple.com/us/app/moves-in-the-field/id1482659435" class="card-footer-item" target="_blank">View iOS App</a>
          <a href="https://play.google.com/store/apps/details?id=com.movesOfficial2&hl=en_US&gl=US" class="card-footer-item" target="_blank">View Android App</a>
        </footer>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/AussieSkate.png">
        <div class="card-content">
          <div class="content">
            <p>Aussie Skate App:
              <span class="creationDescription">
                Worked with Australia's Learn to Skate program to create an app for their learn to skate curriculum.
              </span>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://apps.apple.com/ae/app/aussie-skate-app/id1551265221" class="card-footer-item" target="_blank">View iOS App</a>
          <a href="https://play.google.com/store/apps/details?id=com.aussieskateofficial&hl=en_US&gl=US" class="card-footer-item" target="_blank">View Android App</a>
        </footer>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/sk8motivation.png">
        <div class="card-content">
          <div class="content">
            <p>
              Sk8 Motivation App:
              <span class="creationDescription">
                Developed and designed a motivational quotes app for figure skaters.
              </span>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="https://apps.apple.com/us/app/sk8-motivation/id1512444011" class="card-footer-item" target="_blank">View iOS App</a>
          <a href="https://play.google.com/store/apps/details?id=com.figureskatingquotes&hl=en_US&gl=US" class="card-footer-item" target="_blank">View Android App</a>
        </footer>
      </div>
    </div>
  </div>
</section>

<section class="section" *ngIf="aboutOpen">
  <div class="columns">
    <div class="column">
      <div class="card">
        <img src="assets/educationPic.jpg">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                <p>Origin Story: 
                  <span class="creationDescription">
                  In a college graphic design class, I fell in love with how artsy computers can be!
                  I decided to get my degree in computer science.
                  I still love that coding and designing are both such creative processes that can help people:)
                </span>
                </p>
                <p>
                  Education:
                  <span class="creationDescription">
                   B.S. in Computer Science, Minor in Web Development, MBA with Emphasis in Data Analytics
                </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/learningPic.jpg">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                <p>Strengths: 
                  <span class="creationDescription">
                  learner, positivity, futuristic, focus, responsibility
                  </span>
                </p>
                <p>Soft Skills: 
                  <span class="creationDescription">
                  open-minded, reliable, communication, time management, resourceful
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/figureSkatingPic.jpg">
        <div class="card-content">
          <div class="content">
            <div class="columns">
              <div class="column">
                  <p>Passions: 
                    <span class="creationDescription">
                    figure skating, yoga, gardening, cooking, sustainability
                    </span>
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<div *ngIf="contactOpen" style="text-align: center; margin-top: 50px; margin-bottom: 100px;">
  <p><b>Get in touch:</b></p>
  <p> workwith.danatang@gmail.com</p>
</div>
